{% extends "base.html" %}

{% block content %}
    <header><h1>Update Stores</h1></header>
    <section class="update-store-form">
        <form method="post">
             <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ store.name }}"/>
            </div>
            <div class="form-group">
                <label for="url_prefix">URL Prefix</label>
                <input type="text" class="form-control" id="url_prefix" name="url_prefix" value="{{ store.url_prefix }}"
                aria-describedby="urlPrefixHelp"/>
                <small class="form-text text-muted" id="urlPrefixHelp">
                    What URL will items start with?
                </small>
            </div>
            <div class="form-group">
                <label for="tag_name">HTML Tag Name</label>
                <input type="text" class="form-control" id="tag_name" name="tag_name" value="{{ store.tag_name }}"
                       aria-describedby="htmlTagHelp"/>
                <small class="form-text text-muted" id="htmlTagHelp">
                    What HTML tag contains the price information for items in this store? It can be searched by inspecting page.
                </small>
            </div>
            <div class="form-group">
                <label for="query">HTML Query</label>
                <input type="text" class="form-control" id="query" name="query" value="{{ jsonify(store.query) }}"
                       aria-describedby="htmlQueryHelp"/>
                <small class="form-text text-muted" id="htmlQueryHelp">
                    HTML should be in double quote. Ex: {"class": "price-sale"}
                </small>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </section>
{% endblock %}